APP_NAME=go-restful-api
APP_PORT=8080

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=go_rest_api
DB_SSLMODE=disable
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=100
DB_CONN_MAX_LIFETIME=60

LOG_FILE_PATH=./logs/app.log
LOG_MAX_SIZE=100
LOG_MAX_BACKUPS=3
LOG_MAX_AGE=28
LOG_COMPRESS=true

PASETO_ACCESS_TOKEN_SECRET=yoursecretkeymustbeatleast32chars
PASETO_REFRESH_TOKEN_SECRET=yoursecretkeymustbeatleast32chars
PASETO_ACCESS_TOKEN_DURATION=15m
PASETO_REFRESH_TOKEN_DURATION=7d
